<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Express Redis Based CRUD</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Strings <span class="sr-only">(current)</span></a></li>-->
                <li {{#if redisString}}class="active"{{/if}} ><a href="/redis/string">Strings</a></li>
                <li {{#if redisHash}}class="active"{{/if}} ><a href="/redis/hash">Hash</a></li>
                <li {{#if redisSets}}class="active"{{/if}}>  <a href="/redis/sets">Sets</a></li>
                <!--<li><a href="/redis/list">List</a></li>-->
                <!--<li><a href="/redis/sorted-set">Sorted Set</a></li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>